# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# due to using tox and pytest
.tox
.cache
.vscode/settings.json

# test files
*.pdf
*.svg

# Mac OS
.DS_Store

# sqlalchemy demo files:
jabref-sqlalchemy*

# other
bug_reports/
experimental/
